@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@layer base {
	:root {
		@apply bg-night-900 text-moon max-h-screen;
	}

	h2 {
		@apply uppercase tracking-widest font-semibold;
	}
}

@layer components {
	.dbg-1 {
		@apply border border-red-500;
	}
	.dbg-2 {
		@apply border border-yellow-500;
	}
	.dbg-3 {
		@apply border border-blue-500;
	}
	.dbg-4 {
		@apply border border-green-500;
	}
}

@layer utilities {
	.small-caps {
		font-variant: all-small-caps;
	}

	.show {
		animation: show 0.5s forwards;
	}
	
	@keyframes show {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	
	.hide {
		animation: hide 0.5s forwards;
	}
	
	@keyframes hide {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}
}

.bar-list li::after {
	content: "|"; /* Add separator */
	margin-left: 0.5rem; /* Space after separator */
}
.bar-list li:last-child::after {
	content: ""; /* Remove separator after last item */
}

div:has(> .editor-line-readonly) {
	background-color: #00000005;
	cursor: not-allowed;
	z-index: 999; /* Moves this div above the code line making it not selectable */
}
