@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: "DM Mono", serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@layer base {
	:root {
		@apply bg-night-900 text-moon max-h-screen;
	}

	h2 {
		@apply uppercase tracking-widest font-semibold;
	}
}

@layer components {
	.dbg-1 {
		@apply border border-red-500;
	}
	.dbg-2 {
		@apply border border-yellow-500;
	}
	.dbg-3 {
		@apply border border-blue-500;
	}
	.dbg-4 {
		@apply border border-green-500;
	}
}

@layer utilities {
	.small-caps {
		font-variant: all-small-caps;
	}

	.show {
		animation: show 0.5s forwards;
	}

	@keyframes show {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	.hide {
		animation: hide 0.5s forwards;
	}

	@keyframes hide {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}

	.h-p95 {
		height: 95%;
	}
	.max-h-p95 {
		max-height: 95%;
	}
	.min-h-1\/2 {
		min-height: 50%;
	}
	.min-h-1\/3 {
		min-height: 33%;
	}
	.max-h-1\/2 {
		max-height: 50%;
	}
	.max-h-1\/3 {
		max-height: 33%;
	}
	.grow-2 {
		flex-grow: 2;
	}
	.transition-bg {
		transition-property: background-color, border-color, fill;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;
	}
	/* width */
	::-webkit-scrollbar {
		width: 0.5rem;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: none;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #474747;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #5c5c5c;
	}
}

.bar-list li::after {
	content: "|"; /* Add separator */
	margin-left: 0.5rem; /* Space after separator */
}
.bar-list li:last-child::after {
	content: ""; /* Remove separator after last item */
}

div:has(> .editor-line-readonly) {
	background-color: #00000005;
	cursor: not-allowed;
	z-index: 999; /* Moves this div above the code line making it not selectable */
}

.dm-sans-100 {
	font-family: "DM Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
}

.dm-sans-200 {
	font-family: "DM Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
}

.dm-sans-300 {
	font-family: "DM Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
}

.dm-sans-400 {
	font-family: "DM Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.dm-sans-500 {
	font-family: "DM Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

.dm-sans-600 {
	font-family: "DM Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}

.dm-sans-700 {
	font-family: "DM Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

.dm-sans-800 {
	font-family: "DM Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
}

.dm-sans-900 {
	font-family: "DM Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: normal;
}

.dm-sans-1000 {
	font-family: "DM Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 1000;
	font-style: normal;
}

.dm-mono-light {
	font-family: "DM Mono", serif;
	font-weight: 300;
	font-style: normal;
}

.dm-mono-regular {
	font-family: "DM Mono", serif;
	font-weight: 400;
	font-style: normal;
}

.dm-mono-medium {
	font-family: "DM Mono", serif;
	font-weight: 500;
	font-style: normal;
}

.dm-mono-light-italic {
	font-family: "DM Mono", serif;
	font-weight: 300;
	font-style: italic;
}

.dm-mono-regular-italic {
	font-family: "DM Mono", serif;
	font-weight: 400;
	font-style: italic;
}

.dm-mono-medium-italic {
	font-family: "DM Mono", serif;
	font-weight: 500;
	font-style: italic;
}
